@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 2
   
   Save your Fork Graphic Design Styles
   Author: audrey sparks
   Date:   October 17, 2019 

   Filename: sf_effects.css

*/

/* Body Header Styles */
body{
   -webkit-filter: box-shadow(10px 10px 50px rgb(151, 151, 151));
   filter:drop-shadow(10px 10px 50px rgb(51,51,51));
}

/* adds shadowing to the body */
/* Navigation Tabs List Styles */
body > header nav.tabs{
   background: url(sf_back1.png);
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
}
body > header nav.tabs li{
   transform: perspective(50px) rotateX(20deg);
}
body > header nav.tabs li:hover{
   background-color: rgb(231, 231, 231);
}
/* adds background color and pics to nav */
/* Left Section Styles */
section#left nav.vertical h1{
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
}
/* adds border to section in left */

/* Center Article Styles */
section#center article{
   background: radial-gradient(white 30%, rgb(151,151,151));
   border: 1px solid rgb(151,151,151);
   border-radius: 50px; 
   box-shadow: rgb(51,51,51) 10px 10px 20px;
}
/* adds border and color to picture in the section */

/* Blockquote Styles */
blockquote{
   background-image: url(srf_speech.png); 
   background-repeat: no-repeat;
   background-size: 100% 100%;
   -webkit-filter: drop-shadow(5px 5px 10px) rgb(51, 51,51));
   filter: (5px 5px 10px) rgb(51, 51,51));
}

cite img{
   border-radius: 50%;
}
/* adds border to the image  */